node_modules/
build/
dist/
out/

vscode-test/
coverage/

*.log

.DS_Store
.idea
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
bundle-analysis.html
*.db
*.vsix
*.old

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

.github/workflows/playwright.yml
.aider**
.env.local
