[submodule "babadeluxe-docs"]
	path = babadeluxe-docs
	url = https://github.com/babadeluxe/babadeluxe-docs
	ignore = dirty
[submodule "agent-resources"]
	path = agent-resources
	url = https://github.com/babadeluxe/agent-resources
	ignore = dirty
