[submodule "babadeluxe-docs"]
	path = babadeluxe-docs
	url = https://github.com/simwai/babadeluxe-docs
[submodule "agent-resources"]
	path = agent-resources
	url = https://github.com/simwai/agent-resources
